<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#1DB954]">
    <div class="flex flex-col justify-center items-center h-full">
      <h1 class="text-3xl font-bold mb-12 text-center">
        Spotify Recommendation<br />System.
      </h1>
      <div class="">
        <form action="/user" method="Login" class="space-y-4">
          <label class="block text-sm font-medium text-black">Your Username </label>
          <input
            type="text"
            name="user_name"
            placeholder="abc@xyz"
            class="bg-white text-gray-800 sm:text-sm rounded-lg block w-full py-2.5 px-8"
          />

          <label for="password" class="block text-sm font-medium"
            >Password</label
          >
          <input
            type="text"
            name="pswd"
            placeholder="••••••••"
            class="bg-white text-gray-800 sm:text-sm rounded-lg block w-full py-2.5 px-8"
          />
          <input
            type="submit"
            class="bg-black text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center w-full"
          />
          <div class="flex flex-col justify-center items-center h-full">
            <h2 class="font-medium text-xl">{{data}}</h2>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
